Flask==1.1.1
Flask-SQLAlchemy==2.4.0
pytest==5.0.1
requests==2.22.0
SQLAlchemy==1.3.5
mysql-connector-python==8.0.16
flask-expects-json==1.3.1
sqlalchemy-utils==0.34.1
SQLAlchemy-Continuum==1.3.9
greenlet==0.4.15
gevent==1.4.0
tenacity==5.0.4
dictdiffer==0.8.0
pytest-cov==2.8.1
